body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./weather-background.jpg");
}
.container {
  color: rgba(135, 135, 135, 0.9);
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  background-repeat: no-repeat;
  size: cover;
}
.Weather {
  font-family: arial, sans-serif;
  padding: 16px;
  border: 1px solid white;
  border-radius: 4px;
}

.Weather h1 {
  font-size: 36px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 18px;
}
.Weather ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.Weather li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.Weather p {
  font-size: 16px;
  line-height: 2;
}
.Weather .temperature {
  font-weight: 400;
  color: white;
  font-size: 64px;
  line-height: 64px;
}
.Weather .unit {
  color: white;
  font-size: 16px;
  font-weight: 400;
  vertical-align: top;
  line-height: 1;
}

.Weather .description {
  margin-top: 5px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.Weather a {
  text-decoration: none;
}
