.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}
.Weather h1 {
  font-size: 36px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 18px;
}
.Weather ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.Weather li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.Weather p {
  font-size: 16px;
  line-height: 2;
}
.Weather .temperature {
  font-weight: 400;
  color: rgb(33, 33, 33);
  font-size: 56px;
  line-height: 64px;
  margin-left: 10px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  vertical-align: top;
  line-height: 1;
}

.Weather .description {
  margin-top: 5px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.Weather a {
  text-decoration: none;
}
